[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]
python_version = "3.6.12"

[packages]
asgiref = "*"
certifi = "*"
chardet="*"
coreapi="*"
coreschema="*"
Django="2.2"
django-oauth-toolkit="*"
django-rest-swagger="*"
djangorestframework="*"
dj-database-url="*"
django-heroku="*"
gunicorn="*"
idna="*"
itypes="*"
Jinja2="*"
MarkupSafe="*"
mysqlclient="*"
oauthlib="*"
openapi-codec="*"
pytz="*"
PyYAML="*"
requests="*"
simplejson="*"
sqlparse="*"
uritemplate="*"
urllib3="*"
psycopg2="*"
whitenoise="*"